.mobile-btn {
  width: 50vw;
}

.mobile-icon-flex {
  width: 28px;
  height: 28px;
}
@media (min-width: 768px) {
  .mobile-icon-flex {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 992px) {
  .mobile-icon-flex {
    width: 34px;
    height: 34px;
  }
}

.mobile-iframe-flex {
  height: 160px;
}
@media (min-width: 992px) {
  .mobile-iframe-flex {
    height: 400px;
  }
}

a.nav-link, a.navbar-brand {
  color: var(--bs-gray-300) !important;
  text-align: center !important;
}

a.nav-link:hover, a.navbar-brand:hover, a.nav-btn:hover {
  font-weight: bold;
}

a {
  text-shadow: none !important;
}

footer a {
  color: var(--bs-yellow)!important;
}

.text-muted {
  color: var(--bs-yellow)!important;
}

.background-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

body {
  color: var(--bs-white);
}

