.mobile-btn {
  width: 50vw;
}

a.nav-link, a.navbar-brand {
  color: var(--bs-gray-300) !important;
  text-align: center !important;
}

a.nav-link:hover, a.navbar-brand:hover, a.nav-btn:hover {
  font-weight: bold;
}

a {
  text-shadow: none !important;
}

.text-muted {
  color: var(--bs-yellow)!important;
}

body {
  color: var(--bs-white);
}

