<%# _about.erb %>
<section id="about">
  <div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
      <div class="col-md-6">
        <div class="p-xl-5 m-xl-5">
          <img class="rounded img-fluid w-100 fit-cover"
               style="min-height: 300px;"
               src="<%= image_path File.join("data/images/", data['about'].find{ |obj| obj.has_key? 'image' }.fetch('image')) %>"
               alt="Profile picture of Ray Demers" />
        </div>
      </div>
      <div class="col-md-6 d-md-flex align-items-md-center">
        <div class="bg-body bg-opacity-75" style="max-width: 350px;">
          <h2 class="fw-bold">About Ray</h2>
          <% data['about'].each do |obj| %>
            <% if obj.has_key? 'paragraph' %>
              <p class="my-3">
                <%= obj.fetch('paragraph') %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
