<%# about.html.erb %>
<section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="<%= image_path('placeholder.png') %>"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 350px;">
                    <h2 class="text-uppercase fw-bold">About Ray</h2>
                    <p class="my-3">
                      Ray "Raydee99" Demers puts the fun in music and brings life to any team that he is on. He writes everything from, high-energy chiptune, spaghetti western, sea shanties, and cutesy pop songs about world-destroying kaijus!&nbsp;He has composed for over a dozen games and is always looking for new opportunities.​
                    </p>
                    <p class="my-3">
                      Ray is a recent graduate of Berklee College of Music, where he majored in Professional Music with focuses in film scoring and video game scoring. Along with this, he is an organizer of Game Audio Boston and runs the Boston Game Development Discord with a group of over 600 gamers and game developers in the Greater Boston area. Commissions are currently open so feel free to reach out!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
