<%# _alert.erb %>
<%# @param type [String] - bootstrap theme color, i.e: warning %>
<%# @param label [String] %>
<%# @param message [String] %>
<div class="alert alert-<%= type %> text-center text-dark"><b><%= label %>: </b><%= message %></div>
