<%# _podcast.erb %>
<%# @param title [String] %>
<%# @param spotify_embed_url [String] %>
<%# @param description [String] %>

<div class="col">
  <div class="d-flex flex-column flex-lg-row">
    <div class="">
      <iframe style="height: 200px" src="<%= spotify_embed_url %>" title="Play <%= title %> on Spotify"></iframe>
    </div>
    <div class="py-4 py-lg-0 px-lg-4">
      <h4><%= title %></h4>
      <p>
        <%= description %>
      </p>
    </div>
  </div>
</div>
