<%# _podcast.erb %>
<%# @param title [String] %>
<%# @param spotify_embed_url [String] %>
<%# @param description [String] %>

<div class="col">
  <div class="d-flex flex-column flex-lg-row justify-content-center pb-5 pb-lg-0">
    <div class="align-self-center">
      <iframe class="mobile-iframe-flex" src="<%= spotify_embed_url %>" title="Play <%= title %> on Spotify"></iframe>
    </div>
    <div class="align-self-stretch px-lg-4 text-center text-lg-start bg-body bg-opacity-75 rounded">
      <h4><%= title %></h4>
      <p>
        <%= description %>
      </p>
    </div>
  </div>
</div>
