---
file: audioventure.html.erb
title: "Audioventure!"
---
<main>
  <div class="container py-4 py-xl-5">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>Audioventure</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="ratio ratio-21x9">
          <%= image_tag 'placeholder.png' %>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <p class="lead w-lg-50 py-3 bg-lg-dark bg-opacity-75 rounded-bottom">
          TODO
        </p>
      </div>
    </div>
  </div>
</main>
