---
file: contact.html.erb
title: "Contact"
layout: page
description: |
  Find me on Discord, Youtube, Spotify, Itch.io, and Bandcamp under the username Raydee99,
  or email me at raydee99.thepianoman@gmail.com.
---
<main>
  <%= partial "shared/contact" %>
</main>

<% content_for :footer do %>
  <%= partial 'shared/footer', locals: {remove_icons: true} %>
<% end %>
