---
file: index.html.erb
layout: page
---
<main>
  <!-- Start: Desktop view -->
  <div class="container py-lg-4 py-xl-5 mb-lg-3 mb-xl-5">
    <div class="card d-none d-lg-block border-0">
      <div class="card-body text-center p-0">
        <h4 class="card-title mb-4"><span class="w-auto bg-body bg-opacity-75">Meet Ray "Raydee99" Demers</span></h4>
        <div class="d-flex row justify-content-center">
          <div class="w-75 ratio ratio-16x9 border border-5" style="border-color:#FEE595!important;">
            <iframe allowfullscreen=""
                    frameborder="0"
                    width="auto"
                    height="auto"
                    src="https://www.youtube.com/embed/FE7qgPofq6Q?si=DKDkbkDpacBYi4_O"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
            </iframe>
          </div>
        </div>
      </div>
      <div class="card-footer border-0 p-0 bg-none">
        <div class="d-flex row justify-content-center">
          <div class="w-75 bg-body bg-opacity-75 bottom-rounded text-center">
            <p class="lead p-3">
              Raydee99 is a video game music composer and a creator of TTRPG's!
              Commissions are currently open!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End: Desktop view -->
  <!-- Start: Mobile view -->
  <div class="d-block d-lg-none">
    <section class="py-5" style="min-height:80vh; background-image: url('<%= image_path %q(background_image_animated.gif) %>'); background-size: cover; background-repeat: no-repeat;">
      <div class="text-center py-5">
        <h4 class="pt-4 pb-2">Meet Ray "Raydee99" Demers</h4>
        <p class="py-2">A game designer and music composer</p>
        <a class="mobile-btn btn btn-primary py-3 px-2 my-2" href="https://www.youtube.com/watch?v=FE7qgPofq6Q" role="button">YouTube Trailer</a>
        <br />
        <a class="mobile-btn btn btn-secondary py-3 px-2 my-4" href="#about" role="button">Learn More</a>
      </div>
    </section>
    <%= partial "shared/about" %>
    <%= partial "shared/contact" %>
  </div>
  <!-- End: Mobile view -->
</main>
