<%# music.html.erb %>
<section>
    <!-- Start: 2 Rows 1+1 Columns -->
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Music</h2>
                <p class="w-lg-50">Listen to my compositions here or on&nbsp;<a href="#TODO">Soundcloud</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ratio ratio-16x9"><iframe src="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe"></iframe></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="w-lg-50">TODO: embed soundcloud or directly put audio</p>
            </div>
        </div>
    </div>
    <!-- End: 2 Rows 1+1 Columns -->
</section>