<%# music.html.erb %>
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>Music</h2>
        <p class="w-lg-50">Listen to my compositions here or on&nbsp;<a href="#TODO">Soundcloud</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="ratio ratio-16x9">
          <iframe width="978
                  height="402"
                  scrolling="no"
                  frameborder="no"
                                    src="https://w.soundcloud.com/player/?visual=false&amp;url=https%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F954157678&amp;show_artwork=true&amp;secret_token=s-PRNuixl8GyQ&amp;color=%23965fde&amp;show_comments=false&amp;show_playcount=false"
          >
          </iframe>
        </div>
      </div>
    </div>
    <!-- TODO embed soundcloud or directly put audio -->
  </div>
</section>
