<%# podcasts.html.erb %>
<main>
  <div class="container py-4 py-xl-5">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>Podcasts</h2>
        <p class="w-lg-50">Hear podcasts I've contributed to below.</p>
      </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2">
      <% 4.times do %>
        <%= partial 'shared/podcast', locals: {} %>
      <% end %>
    </div>
  </div>
</main>
